

.group1 {
    background-color: whiter;
    color: black;
}

.landingbody {
    margin-top: 20px;
}

.landinggroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    justify-content: space-between;
    /* text-align: center; */
   }

.landinggroup2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    justify-content: space-between;
    text-align: center;
} 
   
   @media all and (min-width: 800px) {
     .wrapper {
       width: 80%;
       margin: auto;
     }
     .landinggroup {
         flex-direction: row;
     }
     
   }
   
  .item {
     flex: 1;
     margin: 10px;
     
   }
  
  

   .formgroup {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       width: 25%;
       margin-left: auto;
       margin-right: auto;
   }

   label {
       margin: 5px;
   }

   input {
    margin: 5px;
}


.block2 {
    text-align: right;
}

ul {
    padding: 0;
    list-style-type: none;
}

img {
    width: 100%;
    border: 3px solid #191b3e;
}