.group {
    background-color: black;
    color: white;
}

.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    justify-content: space-between;
    text-align: center;
   }
   
   @media all and (min-width: 800px) {
     .wrapper {
       width: 80%;
       margin: auto;
     }
   
     .group {
       flex-direction: row;
     }
   }
   
   .item {
     flex: 1;
     margin: 10px;
     
   }