.group {
  background-color: #191b3e;
  color: white;
  width: 100%;
}

.group {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 0px;
  justify-content: space-between;
  text-align: center;
 }

#signupbtn {
visibility: hidden;
}

a {
text-decoration: none;
color: white;
}


a:visited {
color: white;
}
a:hover {
color: gray;
}

 
 @media all and (min-width: 800px) {
   .wrapper {
     width: 80%;
     margin: auto;
   }
 
   .group {
     flex-direction: row;
   }

   #signupbtn{
     visibility: visible;
   }
 }
 
 .item {
   flex: 1;
   margin: 10px;
   
 }