@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');

body {
  margin: 0;
  margin-bottom: 100px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3 {
  font-family: 'Anton', sans-serif;
  color: #191b3e;
}

button {
  font-family: 'Roboto', sans-serif;

}

a {
  text-decoration: none;
  color: white;
}


a:visited {
  color: white;
}
a:hover {
  color: gray;
}


